/* :root {
  
} */

.buttons-wrapper {
  width: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 30px;
}

/* ? CTA BUTTONS ? */

.button-CTA-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.button-CTA {
  display: block;
  padding: 0 20px;
  min-width: 240px;
  width: max-content;
  height: var(--button-height);

  color: var(--button-cta-font-color);
  font-family: var(--main-font-family);
  font-size: var(--default-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;

  background: var(--button-cta-bg-color);
  border: var(--button-cta-border);
  box-shadow: var(--button-cta-shadow);
  box-sizing: border-box;
  border-radius: var(--button-border-radius);
}

.button-CTA:hover {
  box-shadow: var(--button-cta-hover-shadow);
}

.button-CTA--small {
  height: var(--button-small-height);
  min-width: var(--button-width);
  font-size: var(--button-small-font-size);
}

.button-CTA--large {
  width: var(--button-large-width);
  font-size: var(--button-large-font-size);
  height: var(--button-large-height);
}

.button-CTA + .button-CTA__caption {
  display: none;
}

.button-CTA--caption + .button-CTA__caption {
  margin-top: 20px;
  display: block;
  width: 215px;
  text-align: center;
  font: var(--button-CTA-default-caption-font);
  opacity: var(--button-caption-opacity);
}
.button-CTA--caption.button-CTA--large + .button-CTA__caption {
  width: 215px;
  font: var(--button-CTA-large-caption-font);
}

/* Primary Buttons */
.button-primary-container {
  display: flex;
  flex-flow: column;
  align-items: center;
}
.button-primary {
  display: block;
  padding: 0 20px;
  min-width: var(--button-width);
  width: max-content;
  height: var(--button-height);

  color: var(--button-font-color);
  font-family: var(--main-font-family);
  font-size: var(--default-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;

  background: var(--button-primary-bg-color);
  border: var(--button-primary-border);
  box-shadow: var(--buton-primary-shadow);
  box-sizing: border-box;
  border-radius: var(--button-border-radius);
}
.button-primary:hover {
  box-shadow: var(--buton-primary-hover-shadow);
}

.button-primary--small {
  height: var(--button-small-height);
  font-size: var(--button-small-font-size);
}
.button-primary--large {
  width: var(--button-large-width);
  font-size: var(--button-large-font-size);
  height: var(--button-large-height);
}

.button-primary + .button-primary__caption {
  display: none;
}

.button-primary--caption + .button-primary__caption {
  margin-top: 20px;
  display: block;
  width: 215px;
  text-align: center;
  font: var(--button-primary-default-caption-font);
  opacity: var(--button-caption-opacity);
}
.button-primary--caption.button-primary--large + .button-primary__caption {
  width: 215px;
  font: var(--button-primary-large-caption-font);
}

/* Basic Buttons */
.button-basic {
  display: block;
  padding: 0 20px;
  min-width: var(--button-width);
  width: max-content;
  height: var(--button-height);

  color: var(--button-font-color);
  font-family: var(--main-font-family);
  font-size: var(--default-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;

  background: var(--button-basic-bg-color);
  border: var(--button-basic-border);
  box-sizing: border-box;
  box-shadow: var(--buton-basic-shadow);
  border-radius: var(--button-border-radius);
}

.button-basic:hover {
  box-shadow: var(--buton-basic-hover-shadow);
}

.button-basic--small {
  height: var(--button-small-height);
  font-size: var(--button-small-font-size);
}

/* Tertiary Buttons  */
.button-tertiary {
  display: block;
  padding: 0 20px;
  min-width: var(--button-width);
  width: max-content;
  height: var(--button-height);

  color: var(--button-font-color);
  font-family: var(--main-font-family);
  font-size: var(--default-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;

  background-color: var(--button-tertiary-bg-color);
  border: var(--button-tertiary-border);
  box-sizing: border-box;
  border-radius: var(--button-border-radius);
}

.button-tertiary:hover {
  border: var(--buton-tertiary-hover-border);
}
.button-tertiary:active {
  border: var(--buton-tertiary-active-border);
  background-color: var(--buton-tertiary-active-bg-color);
}

.button-tertiary--small {
  height: var(--button-small-height);
  font-size: var(--button-small-font-size);
}

/* Link Buttons  */
.button-link {
  width: max-content;
  height: auto;

  color: var(--button-link-font-color);
  font-size: var(--default-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;

  background-color: var(--button-link-bg-color);
  border: var(--button-link-border);
  border-radius: var(--button-border-radius);
}

.button-link:hover {
  text-decoration: var(--button-link-hover-text-decoration);
}

.button-link--small {
  font-size: var(--button-small-font-size);
}

/* Radio Buttons */

.radio-button-container {
  display: flex;
  flex-flow: column;
  row-gap: 30px;
}
.radio-button-container--horizontal {
  flex-flow: row;
}

.radio-button {
  width: fit-content;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10px;
  border-radius: var(--button-border-radius);
}
.radio-button__text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 20px;
  min-width: var(--radio-button-width);
  width: max-content;
  height: var(--button-height);

  color: var(--button-font-color);
  font-family: var(--main-font-family);
  font-size: var(--default-font-size);
  font-weight: var(--button-font-weight);
  text-align: center;

  background-color: var(--button-tertiary-bg-color);
  border: var(--button-tertiary-border);
  box-sizing: border-box;
  border-radius: var(--button-border-radius);
}

.radio-button__text-wrapper--width-small {
  min-width: var(--button-width);
}

.radio-button__text-wrapper:hover {
  border: var(--buton-tertiary-hover-border);
}
.radio-button__text-wrapper:active {
  border: var(--buton-tertiary-active-border);
  background-color: var(--buton-tertiary-active-bg-color);
}

.radio-button__text-wrapper--height-small {
  height: var(--button-small-height);
  font-size: var(--button-small-font-size);
}

.radio-button__dot {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -40px;
  margin-top: auto;
  margin-bottom: auto;
}

.radio-button__dot--hide {
  display: none;
}

.radio-button__dot:after {
  margin-top: auto;
  margin-bottom: auto;

  width: 20px;
  height: 20px;
  border-radius: 30px;
  box-sizing: border-box;

  position: absolute;

  background-color: var(--main-bg-color);
  content: "";
  display: block;
  visibility: visible;
  border: var(--button-tertiary-border);
}

.radio-button:hover .radio-button__dot:after {
  border: var(--buton-tertiary-hover-border);
}

.radio-button__dot:checked:after {
  border: var(--buton-tertiary-hover-border);
  background-color: var(--button-font-color);
  box-shadow: inset 0px 0px 0px 4px var(--main-bg-color);
}

.radio-button__dot:checked + .radio-button__text-wrapper {
  border: var(--buton-tertiary-hover-border);
  background-color: var(--buton-tertiary-active-bg-color);
}

.text-wrapper__date-picker {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
}

.radio-button__dot:checked
  + .radio-button__text-wrapper
  .text-wrapper__date-picker {
  display: block;
}

/* TAB SLIDER  */

.tab-slider {
  width: 100%;
  height: var(--tab-slider-height);

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;

  background-color: var(--tab-slider-bg-color);
  border: var(--tab-slider-border);
  box-sizing: border-box;
  border-radius: var(--tab-slider-border-radius);

  font-size: var(--tab-slider-font-size);
}

.tab-slider__tab-item {
  width: calc(95% / 3);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tab-item__dot--hide {
  display: none;
}

.tab-item__text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--tab-slider-border-radius);
}

.tab-item__text-wrapper:hover {
  background-color: var(--tab-slider-hover-bg-color);
}

.tab-item__dot:checked + .tab-item__text-wrapper {
  font-weight: 500;
  background-color: transparent;
}

.tab-slider__chosen-bg {
  display: block;
  position: absolute;
  width: calc(95% / 3);
  height: 100%;

  border: var(--tab-slider-active-border);
  box-shadow: 0px 0px 0px 1px var(--tab-slider-active-border-color);
  border-radius: var(--tab-slider-border-radius);
  background-color: var(--tab-slider-active-bg-color);
  box-sizing: border-box;

  transform: translate(0px);
}

/* TAB SLIDER EMOJI  */

.tab-slider-emoji {
  width: 100%;
  height: var(--tab-slider-height);

  display: flex;
  align-items: center;

  background-color: var(--tab-slider-bg-color);
  border: var(--tab-slider-border);
  box-sizing: border-box;
  border-radius: var(--tab-slider-border-radius);

  font-size: var(--tab-slider-font-size);
}

.tab-slider-emoji__close-icon {
  width: var(--tab-slider-height);
  height: var(--tab-slider-height);

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: calc(var(--tab-slider-height) / 2);
}

.tab-slider-emoji__close-icon:hover {
  background-color: var(--tab-slider-hover-bg-color);
}

.tab-slider-emoji__close-icon--hide {
  display: none;
}

.tab-items-wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  position: relative;
}

.tab-items-wrapper__tab-item {
  width: calc(95% / 5);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.tab-item__dot--hide {
  display: none;
}

.tab-item__text-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: var(--tab-slider-border-radius);
}

.tab-item__text-wrapper:hover {
  background-color: var(--tab-slider-hover-bg-color);
}

.tab-item__dot:checked + .tab-item__text-wrapper {
  font-weight: 500;
}

.tab-items-wrapper__chosen-bg {
  display: block;
  position: absolute;
  width: calc(95% / 5);
  height: 100%;

  border: var(--tab-slider-active-border);
  box-shadow: 0px 0px 0px 1px var(--tab-slider-active-border-color);
  border-radius: var(--tab-slider-border-radius);
  background-color: var(--tab-slider-active-bg-color);
  box-sizing: border-box;

  transform: translate(0px);
}

.text-wrapper__emoji {
  margin-right: 10px;
  font-size: var(--tab-slider-emoji-font-size);
}
.tab-item__dot:checked + .tab-item__text-wrapper .text-wrapper__emoji {
  font-size: var(--tab-slider-emoji-active-font-size);
}

/* CHECKBOX Buttons */

.checkbox-container {
  width: fit-content;
  display: grid;
  grid-auto-rows: auto;

  justify-content: center;
}

.checkbox-container__checkbox-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10px;
  margin: -2px 0 0 -2px;
}

/* * 1 column  */
.checkbox-container--1-columns {
  grid-template-columns: 260px;
}

.checkbox-container--1-columns
  .checkbox-container__checkbox-button:nth-child(1),
.checkbox-container--1-columns
  .checkbox-container__checkbox-button:nth-child(1)
  .checkbox-button__text-wrapper {
  border-radius: var(--button-border-radius) var(--button-border-radius) 0 0;
}
.checkbox-container--1-columns
  .checkbox-container__checkbox-button:nth-last-child(1),
.checkbox-container--1-columns
  .checkbox-container__checkbox-button:nth-last-child(1)
  .checkbox-button__text-wrapper {
  border-radius: 0 0 var(--button-border-radius) var(--button-border-radius);
}
/* * 1 column END  */

/* * 2 columns  */
.checkbox-container--2-columns {
  grid-template-columns: 180px 180px;
}

.checkbox-container--2-columns
  .checkbox-container__checkbox-button:nth-child(1),
.checkbox-container--2-columns
  .checkbox-container__checkbox-button:nth-child(1)
  .checkbox-button__text-wrapper {
  border-radius: var(--button-border-radius) 0 0 0;
}

.checkbox-container--2-columns
  .checkbox-container__checkbox-button:nth-child(2),
.checkbox-container--2-columns
  .checkbox-container__checkbox-button:nth-child(2)
  .checkbox-button__text-wrapper {
  border-radius: 0 var(--button-border-radius) 0 0;
}

.checkbox-container--2-columns
  .checkbox-container__checkbox-button:nth-last-child(1),
.checkbox-container--2-columns
  .checkbox-container__checkbox-button:nth-last-child(1)
  .checkbox-button__text-wrapper {
  border-radius: 0 0 var(--button-border-radius) 0;
}

.checkbox-container--2-columns
  .checkbox-container__checkbox-button:nth-last-child(2),
.checkbox-container--2-columns
  .checkbox-container__checkbox-button:nth-last-child(2)
  .checkbox-button__text-wrapper {
  border-radius: 0 0 0 var(--button-border-radius);
}

/* * 2 columns END  */

/* * 3 columns  */
.checkbox-container--3-columns {
  grid-template-columns: 186px 186px 186px;
}

.checkbox-container--3-columns
  .checkbox-container__checkbox-button:nth-child(1),
.checkbox-container--3-columns
  .checkbox-container__checkbox-button:nth-child(1)
  .checkbox-button__text-wrapper {
  border-radius: var(--button-border-radius) 0 0 0;
}

.checkbox-container--3-columns
  .checkbox-container__checkbox-button:nth-child(3),
.checkbox-container--3-columns
  .checkbox-container__checkbox-button:nth-child(3)
  .checkbox-button__text-wrapper {
  border-radius: 0 var(--button-border-radius) 0 0;
}

.checkbox-container--3-columns
  .checkbox-container__checkbox-button:nth-last-child(1),
.checkbox-container--3-columns
  .checkbox-container__checkbox-button:nth-last-child(1)
  .checkbox-button__text-wrapper {
  border-radius: 0 0 var(--button-border-radius) 0;
}

.checkbox-container--3-columns
  .checkbox-container__checkbox-button:nth-last-child(3),
.checkbox-container--3-columns
  .checkbox-container__checkbox-button:nth-last-child(3)
  .checkbox-button__text-wrapper {
  border-radius: 0 0 0 var(--button-border-radius);
}
/* * 3 columns END  */

.checkbox-button__text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: fit-content;
  width: 100%;
  height: var(--button-height);

  color: var(--checkbox-button-font-color);
  font-family: var(--main-font-family);
  font-size: var(--checkbox-button-font-size);
  font-weight: var(--checkbox-button-font-weight);
  text-align: center;

  background-color: var(--main-bg-color);
  border: 1px solid var(--checkbox-button-stroke-color);
  box-sizing: border-box;
}

.checkbox-button__text-wrapper:hover {
  border: var(--checkbox-button-hover-border);
  z-index: 10;
}
.checkbox-button__dot--hide {
  display: none;
}

.checkbox-button__dot:checked + .checkbox-button__text-wrapper {
  border: var(--checkbox-button-active-border);
  background-color: var(--checkbox-button-active-bg-color);
  z-index: 11;

  font-weight: var(--checkbox-button-active-font-weight);
}

/* CHECKBOX CHIPS */

.checkbox-chips-container {
  width: 560px;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: start;
}

.checkbox-chips-container__checkbox-chip {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 10px;
  border-radius: var(--button-border-radius);
}

.checkbox-chip__text-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 var(--checkbox-chip-padding);
  min-width: fit-content;
  width: 100%;
  height: var(--checkbox-chip-height);

  color: var(--checkbox-chip-font-color);
  font-family: var(--main-font-family);
  font-size: var(--checkbox-chip-font-size);
  font-weight: var(--checkbox-chip-font-weight);
  text-align: center;

  background-color: var(--button-tertiary-bg-color);
  border: var(--button-tertiary-border);
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
}

.checkbox-chip__text-wrapper:hover {
  border: var(--checkbox-chip-hover-border);
  padding: 0 calc(var(--checkbox-chip-padding) - 1px);
}

.checkbox-chip__dot--hide {
  display: none;
}

.checkbox-chip__dot:checked + .checkbox-chip__text-wrapper {
  border: var(--checkbox-chip-active-border);
  background-color: var(--checkbox-chip-active-bg-color);
  padding: 0 calc(var(--checkbox-chip-padding) - 1px);
}

/* ROUND CHECKBOX with ICON */

.round-checkbox-container {
  width: 560px;
  display: flex;
  gap: 20px 0;
  flex-wrap: wrap;
  justify-content: space-between;
}

.round-checkbox-container__checkbox-wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  /* todo border-radius: var(--button-border-radius); */
}

.checkbox-wrapper__circle-icon {
  width: var(--round-checkbox-circle-radius);
  height: var(--round-checkbox-circle-radius);
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  border: var(--round-checkbox-border);
}

.checkbox-wrapper__circle-icon:hover {
  border: var(--round-checkbox-hover-border);
}

.checkbox-wrapper__dot:checked ~ .checkbox-wrapper__circle-icon {
  border: var(--round-checkbox-active-border);
  background-color: var(--round-checkbox-active-bg-color);
}
/* * home care icons */
.checkbox-wrapper__circle-icon--laundry {
  background: center/35% no-repeat url(pomoc_domowa_icons/basket_1f9fa.png);
}
.checkbox-wrapper__circle-icon--ironing {
  background: center/35% no-repeat url(pomoc_domowa_icons/necktie_1f454.png);
}
.checkbox-wrapper__circle-icon--cleaning {
  background: center/40% no-repeat url(pomoc_domowa_icons/broom_1f9f9.png);
}
.checkbox-wrapper__circle-icon--maintainig-cleaniness {
  background: center/35% no-repeat url(pomoc_domowa_icons/sponge_1f9fd.png);
}
.checkbox-wrapper__circle-icon--cooking {
  background: center/35% no-repeat url(pomoc_domowa_icons/cooking_1f373.png);
}
.checkbox-wrapper__circle-icon--pet-care {
  background: center/35% no-repeat url(pomoc_domowa_icons/paw-prints_1f43e.png);
}
.checkbox-wrapper__circle-icon--plant-care {
  background: center/35% no-repeat
    url(pomoc_domowa_icons/potted-plant_1fab4.png);
}
.checkbox-wrapper__circle-icon--shopping {
  background: center/35% no-repeat
    url(pomoc_domowa_icons/shopping-cart_1f6d2.png);
}
/* * home care icons END */

.checkbox-wrapper__text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;

  margin-top: 9px;
  max-width: var(--round-checkbox-circle-radius);
  height: fit-content;

  color: var(--round-checkbox-font-color);
  font-family: var(--main-font-family);
  font-size: var(--round-checkbox-font-size);
  font-weight: var(--round-checkbox-font-weight);
  text-align: center;
}

.checkbox-wrapper__dot--hide {
  display: none;
}

.checkbox-wrapper__dot:checked ~ .checkbox-wrapper__text-wrapper {
  font-weight: var(--round-checkbox-active-font-weight);
}

/* CIRCLE BUTTON (+ / -) */

.circle-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: var(--circle-button-border);

  background-color: var(--circle-button-bg-color);
}

.circle-button:hover {
  border: var(--circle-button-hover-border);
}

.circle-button:active {
  border: var(--circle-button-active-border);

  background-color: var(--circle-button-active-bg-color);
}

.circle-button--minus {
  background: center/20px no-repeat url(/project_inkognito/minus_20_20.svg);
}

.circle-button--plus {
  background: center/20px no-repeat url(/project_inkognito/plus_20_20.svg);
}

.circle-button--small {
  width: 50px;
  height: 50px;
}

.circle-button--small.circle-button--minus,
.circle-button--small.circle-button--plus {
  background-size: 16px;
}

/* CIRCLE ATTACHMENT BUTTON  */

.circle-attachment-button {
  width: var(--button-width);
  height: var(--button-width);

  border-radius: 50%;
  border: var(--circle-attachment-button-border);
  box-shadow: var(--circle-attachment-button-primary-shadow);

  background: center/40px no-repeat
    url(/project_inkognito/plus_attach_primary.svg);
  background-color: var(--circle-attachment-button-primary-bg-color);
}

.circle-attachment-button--small {
  width: 75px;
  height: 75px;

  box-shadow: var(--circle-attachment-button-small-shadow);

  background: center/29px no-repeat
    url(/project_inkognito/plus_attach_small.svg);
  background-color: var(--circle-attachment-button-small-bg-color);
}

/* ! TABLET(temporary) AND MOBILE  */

@media (max-width: 1200px) {
  /* TAB SLIDER EMOJI MOBILE */

  .text-wrapper__text {
    display: none;
  }
  .text-wrapper__emoji {
    margin: 0;
  }

  /* CHECKBOX Buttons */

  /* * 1 column  */
  .checkbox-container--1-columns {
    grid-template-columns: 212px;
  }
  /* * 1 columns END  */

  /* * 2 columns  */
  .checkbox-container--2-columns {
    grid-template-columns: 125px 125px;
  }

  /* * 2 columns END  */

  /* * 3 columns  */
  .checkbox-container--3-columns {
    grid-template-columns: 115px 115px 115px;
  }
  /* * 3 columns END  */

  /* CHECKBOX CHIPS */

  .checkbox-chips-container {
    width: 345px;
    gap: 15px;
  }

  /* ROUND CHECKBOX with ICON MOBILE */

  .round-checkbox-container {
    width: 345px;
    gap: 15px 0;
  }

  .checkbox-wrapper__text-wrapper {
    margin-top: 6px;
  }

  /* CIRCLE BUTTON (+ / -) MOBILE */

  .circle-button--small {
    width: 60px;
    height: 60px;
  }

  .circle-button--small.circle-button--minus,
  .circle-button--small.circle-button--plus {
    background-size: 20px;
  }

  /* CIRCLE ATTACHMENT BUTTON MOBILE */

  .circle-attachment-button--small {
    width: 79px;
    height: 79px;
  }
}
